################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prototypes/DockWindowsSample/.vs/DockWindowsSample
/Prototypes/DockWindowsSample/bin/Debug/net5.0
/Prototypes/DockWindowsSample/obj
/Prototypes/AvaloniaDockApplication
/SubModules/AvalonDock
