################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prototypes/DockWindowsSample/.vs/DockWindowsSample
/Prototypes/DockWindowsSample/bin/Debug/net5.0
/Prototypes/DockWindowsSample/obj
/Prototypes/AvaloniaDockApplication
/SubModules/AvalonDock
/src/.vs/NP.Avalonia.Dock/v16
/src/bin/Debug/net5.0
/src/obj/Debug/net5.0
/src/obj
/Prototypes/NP.GroupPanelSample/.vs/NP.GroupPanelSample/DesignTimeBuild
/Prototypes/NP.GroupPanelSample/.vs/NP.GroupPanelSample/v16
/Prototypes/NP.GroupPanelSample/bin/Debug/net5.0
/Prototypes/NP.GroupPanelSample/.vs/DockWindowsSample/v16
/Prototypes/NP.GroupPanelSample/.vs/DockWindowsSample/DesignTimeBuild
/Prototypes/NP.GroupPanelSample/obj
/Prototypes/NP.StackGroupWithDockItems/.vs/DockWindowsSample/DesignTimeBuild
/Prototypes/NP.StackGroupWithDockItems/.vs/DockWindowsSample/v16
/Prototypes/NP.StackGroupWithDockItems/.vs/NP.GroupPanelSample/DesignTimeBuild
/Prototypes/NP.StackGroupWithDockItems/.vs/NP.GroupPanelSample/v16
/Prototypes/NP.StackGroupWithDockItems/.vs/NP.StackGroupWithDockItems/v16
/Prototypes/NP.StackGroupWithDockItems/bin/Debug/net5.0
/Prototypes/NP.StackGroupWithDockItems/obj/Debug/net5.0
/Prototypes/NP.StackGroupWithDockItems/obj
/Prototypes/NP.StackGroupWithDockItems/.vs/NP.StackGroupWithDockItems/DesignTimeBuild/.dtbcache.v2
/Prototypes/NP.LinqToXmlSample/bin/Debug/net5.0
/Prototypes/NP.LinqToXmlSample/obj
/Prototypes/NP.LinqToXmlSample/.vs/NP.LinqToXmlSample/DesignTimeBuild
/Prototypes/NP.LinqToXmlSample/.vs/NP.LinqToXmlSample/v16
/Prototypes/NP.LinqToXmlSample/.vs/DockWindowsSample/v16
/Prototypes/NP.LinqToXmlSample/.vs/DockWindowsSample/DesignTimeBuild
/Prototypes/NP.Demos.DockWindowsSample/bin/Debug/net5.0
/Prototypes/NP.Demos.DockWindowsSample/obj
/Prototypes/NP.Demos.UniDockCustomizationDemo/bin/Debug/net5.0
/Prototypes/NP.Demos.UniDockCustomizationDemo/obj
*.suo
/Prototypes/NP.Demos.UniDockWindowsSample/.vs/NP.Demos.DockWindowsSample/DesignTimeBuild
/Prototypes/NP.Demos.UniDockWindowsSample/bin/Debug/net5.0
/Prototypes/NP.Demos.UniDockWindowsSample/obj
/src/bin/Debug/NP.Avalonia.UniDock.0.90.0.nupkg
/Prototypes/NP.Demos.UniDockCustomizationDemo/NP.Demos.DockWindowsSample.1.0.0.nupkg
/SubModules/NP.Avalonia.Visuals/src/bin/Debug/NP.Avalonia.Visuals.0.90.1.nupkg
/Prototypes/NP.Demos.UniDockCustomizationDemo/.vs/NP.Demos.DockWindowsSample/DesignTimeBuild/.dtbcache.v2
/Prototypes/NP.Demos.UniDockWindowsSample/.vs/NP.Demos.UniDockWindowsSample/DesignTimeBuild
/Prototypes/NP.Demos.UniDockWindowsSample/nlog.config
/Prototypes/NP.Demos.UniDockWindowsSample/NP.Demos.UniDockWindowsSample.csproj.user
/Prototypes/NP.Demos.UniDockDefaultLocationSample/.vs
/Prototypes/NP.Demos.UniDockDefaultLocationSample/bin/Debug/net5.0
/Prototypes/NP.Demos.UniDockDefaultLocationSample/obj
/Prototypes/SerializationResult.xml
/Prototypes/NP.Demos.UniDockDefaultLocationSample/SerializationResult.xml
/Prototypes/NP.Demos.UniDockCustomizationDemo/.vs/NP.Demos.UniDockCustomizationDemo/DesignTimeBuild
/Prototypes/NP.StableFloatingWindows/.vs
/Prototypes/NP.StableFloatingWindows/bin/Debug/net5.0
/Prototypes/NP.StableFloatingWindows/obj
/Tests/NP.TestBindingBehavior/.vs
/Tests/NP.TestBindingBehavior/bin/Debug/net5.0
/Tests/NP.TestBindingBehavior/obj
/Prototypes/NP.DockItemsInMenus/.vs
/Prototypes/NP.DockItemsInMenus/bin/Debug/net5.0
/Prototypes/NP.DockItemsInMenus/obj
/Prototypes/NP.ViewModelSample/.vs
/Prototypes/NP.ViewModelSample/bin/Debug/net5.0
/Prototypes/NP.ViewModelSample/obj
/SubModules/NP.Avalonia.UniDockService/src/bin/Debug/net5.0
/SubModules/NP.Avalonia.UniDockService/src/obj
/Prototypes/NP.ViewModelSaveRestoreSample/.vs
/Prototypes/NP.ViewModelSaveRestoreSample/bin/Debug/net5.0
/Prototypes/NP.ViewModelSaveRestoreSample/obj
/Prototypes/NP.ComplexViewModelSaveRestoreSample/.vs
/Prototypes/NP.ComplexViewModelSaveRestoreSample/bin/Debug/net5.0
/Prototypes/NP.ComplexViewModelSaveRestoreSample/obj
/Tests/NP.TestCollectionSerialization/.vs
/Tests/NP.TestCollectionSerialization/bin/Debug/net5.0
/Tests/NP.TestCollectionSerialization/obj
/Prototypes/NP.GroupHeaderSample/.vs
/Prototypes/NP.GroupHeaderSample/bin/Debug/net5.0
/Prototypes/NP.GroupHeaderSample/obj
/Prototypes/NP.GroupCompassSample/.vs
/Prototypes/NP.GroupCompassSample/bin/Debug/net5.0
/Prototypes/NP.GroupCompassSample/obj
/Prototypes/NP.GroupHeaderSample/bin/Debug/Sample.zip
*~
*.nupkg
/Prototypes/NP.DataContextSample/.vs/DockWindowsSample/DesignTimeBuild
/Prototypes/NP.DataContextSample/.vs
/Prototypes/NP.DataContextSample/bin/Debug
/Prototypes/NP.DataContextSample/obj
/Prototypes/NP.ComplexViewModelSaveRestoreSample1/.vs/NP.ComplexViewModelSaveRestoreSample
/Prototypes/NP.ComplexViewModelSaveRestoreSample1/bin/Debug/net5.0
/Prototypes/NP.ComplexViewModelSaveRestoreSample1/obj
/Prototypes/NP.ComplexViewModelSaveRestoreSample1.zip
/SubModules/NP.Avalonia.Visuals/Demos/NP.Demos.CustomWindowSample/bin/Debug/net5.0.zip
/Prototypes/KerriganBug/.vs/NP.ComplexViewModelSaveRestoreSample/DesignTimeBuild
/Prototypes/KerriganBug/bin/Debug/net5.0
/Prototypes/KerriganBug/obj
/Prototypes/NP.ReloadingProblemSample/.vs/NP.ReloadingProblemSample/DesignTimeBuild
/Prototypes/NP.ReloadingProblemSample/bin/Debug/net5.0
/Prototypes/NP.ReloadingProblemSample/obj
*.v1
/Prototypes/NP.WebBrowsersInsideUniDock/.vs
/Prototypes/NP.WebBrowsersInsideUniDock/bin/Debug/net5.0
/Prototypes/NP.WebBrowsersInsideUniDock/obj
/Prototypes/NP.StackGroupVirtualResize/.vs
/Prototypes/NP.StackGroupVirtualResize/bin/Debug/net5.0
/Prototypes/NP.StackGroupVirtualResize/obj
/Prototypes/NP.StackGroupWithDockItems/.vs/NP.StackGroupWithDockItems/FileContentIndex
/Prototypes/NP.ComplexViewModelSaveRestoreSample/bin/Debug/net6.0
/Prototypes/NP.ComplexViewModelSaveRestoreSample1/.vs/ProjectEvaluation
/Prototypes/NP.ComplexViewModelSaveRestoreSample1/bin/Debug/net6.0
/Prototypes/NP.Demos.UniDockCustomizationDemo/.vs
/Prototypes/NP.Demos.UniDockCustomizationDemo/bin/Debug/net6.0/cs
/Prototypes/NP.Demos.UniDockCustomizationDemo/bin/Debug/net6.0
/Prototypes/NP.Demos.UniDockDefaultLocationSample/bin/Debug/net6.0
/Prototypes/NP.Demos.UniDockWindowsSample/.vs
/Prototypes/NP.Demos.UniDockWindowsSample/bin/Debug/net6.0
/Prototypes/NP.DockItemsInMenus/bin/Debug/net6.0
/Prototypes/NP.GroupCompassSample/bin/Debug/net6.0
/Prototypes/NP.GroupHeaderSample/bin/Debug/net6.0
/Prototypes/NP.GroupPanelSample/.vs
/Prototypes/NP.GroupPanelSample/bin/Debug/net6.0
/Prototypes/NP.ReloadingProblemSample/.vs
/Prototypes/NP.ReloadingProblemSample/bin/Debug/net6.0
/Prototypes/NP.StableFloatingWindows/bin/Debug/net6.0
/Prototypes/NP.StackGroupVirtualResize/bin/Debug/net6.0
/Prototypes/NP.StackGroupWithDockItems/.vs
/Prototypes/NP.StackGroupWithDockItems/bin/Debug/net6.0
/Prototypes/NP.ViewModelSample/bin/Debug/net6.0
/Prototypes/NP.ViewModelSaveRestoreSample/bin/Debug/net6.0
/Prototypes/NP.WebBrowsersInsideUniDock/bin/Debug/net6.0
/src/bin/Debug/net6.0
/Tests/NP.TestBindingBehavior/bin/Debug/net6.0
/Prototypes/NP.ViewModelSample/bin/Release/net6.0
/src/bin/Release/net6.0
