[submodule "SubModules/NP.Utilities"]
	path = SubModules/NP.Utilities
	url = https://github.com/npolyak/NP.Utilities.git
[submodule "SubModules/NP.Avalonia.Visuals"]
	path = SubModules/NP.Avalonia.Visuals
	url = https://github.com/npolyak/NP.Avalonia.Visuals.git
	branch = main
[submodule "SubModules/NP.Concepts.Behaviors"]
	path = SubModules/NP.Concepts.Behaviors
	url = https://github.com/npolyak/NP.Concepts.Behaviors.git
[submodule "SubModules/NP.IoCy"]
	path = SubModules/NP.IoCy
	url = https://github.com/npolyak/NP.IoCy.git
[submodule "SubModules/NP.NLogAdapter"]
	path = SubModules/NP.NLogAdapter
	url = https://github.com/npolyak/NP.NLogAdapter.git
[submodule "SubModules/NP.ViewModelInterfaces"]
	path = SubModules/NP.ViewModelInterfaces
	url = https://github.com/npolyak/NP.ViewModelInterfaces.git
[submodule "SubModules/NP.Avalonia.UniDockService"]
	path = SubModules/NP.Avalonia.UniDockService
	url = https://github.com/npolyak/NP.Avalonia.UniDockService.git
