[submodule "SubModules/NP.Utilities"]
	path = SubModules/NP.Utilities
	url = https://github.com/npolyak/NP.Utilities.git
[submodule "SubModules/NP.Avalonia.Visuals"]
	path = SubModules/NP.Avalonia.Visuals
	url = https://github.com/npolyak/NP.Avalonia.Visuals.git
[submodule "SubModules/Dock"]
	path = SubModules/Dock
	url = https://github.com/wieslawsoltes/Dock.git
[submodule "SubModules/AvalonDock"]
	path = SubModules/AvalonDock
	url = https://github.com/Dirkster99/AvalonDock.git
[submodule "SubModules/NP.Concepts.Behaviors"]
	path = SubModules/NP.Concepts.Behaviors
	url = https://github.com/npolyak/NP.Concepts.Behaviors.git
[submodule "SubModules/NP.IoCy"]
	path = SubModules/NP.IoCy
	url = https://github.com/npolyak/NP.IoCy.git
