################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prototypes/DockWindowsSample/.vs/DockWindowsSample
/Prototypes/DockWindowsSample/bin/Debug/net5.0
/Prototypes/DockWindowsSample/obj
/Prototypes/AvaloniaDockApplication
/SubModules/AvalonDock
/src/.vs/NP.Avalonia.Dock/v16
/src/bin/Debug/net5.0
/src/obj/Debug/net5.0
/src/obj
/Prototypes/NP.GroupPanelSample/.vs/NP.GroupPanelSample/DesignTimeBuild
/Prototypes/NP.GroupPanelSample/.vs/NP.GroupPanelSample/v16
/Prototypes/NP.GroupPanelSample/bin/Debug/net5.0
/Prototypes/NP.GroupPanelSample/.vs/DockWindowsSample/v16
/Prototypes/NP.GroupPanelSample/.vs/DockWindowsSample/DesignTimeBuild
/Prototypes/NP.GroupPanelSample/obj
/Prototypes/NP.StackGroupWithDockItems/.vs/DockWindowsSample/DesignTimeBuild
/Prototypes/NP.StackGroupWithDockItems/.vs/DockWindowsSample/v16
/Prototypes/NP.StackGroupWithDockItems/.vs/NP.GroupPanelSample/DesignTimeBuild
/Prototypes/NP.StackGroupWithDockItems/.vs/NP.GroupPanelSample/v16
/Prototypes/NP.StackGroupWithDockItems/.vs/NP.StackGroupWithDockItems/v16
/Prototypes/NP.StackGroupWithDockItems/bin/Debug/net5.0
/Prototypes/NP.StackGroupWithDockItems/obj/Debug/net5.0
/Prototypes/NP.StackGroupWithDockItems/obj
/Prototypes/NP.StackGroupWithDockItems/.vs/NP.StackGroupWithDockItems/DesignTimeBuild/.dtbcache.v2
/Prototypes/NP.LinqToXmlSample/bin/Debug/net5.0
/Prototypes/NP.LinqToXmlSample/obj
/Prototypes/NP.LinqToXmlSample/.vs/NP.LinqToXmlSample/DesignTimeBuild
/Prototypes/NP.LinqToXmlSample/.vs/NP.LinqToXmlSample/v16
/Prototypes/NP.LinqToXmlSample/.vs/DockWindowsSample/v16
/Prototypes/NP.LinqToXmlSample/.vs/DockWindowsSample/DesignTimeBuild
/Prototypes/NP.Demos.DockWindowsSample/bin/Debug/net5.0
/Prototypes/NP.Demos.DockWindowsSample/obj
/Prototypes/NP.Demos.UniDockCustomizationDemo/bin/Debug/net5.0
/Prototypes/NP.Demos.UniDockCustomizationDemo/obj
*.suo
/Prototypes/NP.Demos.UniDockWindowsSample/.vs/NP.Demos.DockWindowsSample/DesignTimeBuild
/Prototypes/NP.Demos.UniDockWindowsSample/bin/Debug/net5.0
/Prototypes/NP.Demos.UniDockWindowsSample/obj
/src/bin/Debug/NP.Avalonia.UniDock.0.90.0.nupkg
/Prototypes/NP.Demos.UniDockCustomizationDemo/NP.Demos.DockWindowsSample.1.0.0.nupkg
/SubModules/NP.Avalonia.Visuals/src/bin/Debug/NP.Avalonia.Visuals.0.90.1.nupkg
/Prototypes/NP.Demos.UniDockCustomizationDemo/.vs/NP.Demos.DockWindowsSample/DesignTimeBuild/.dtbcache.v2
/Prototypes/NP.Demos.UniDockWindowsSample/.vs/NP.Demos.UniDockWindowsSample/DesignTimeBuild
/Prototypes/NP.Demos.UniDockWindowsSample/nlog.config
/Prototypes/NP.Demos.UniDockWindowsSample/NP.Demos.UniDockWindowsSample.csproj.user
