[submodule "SubModules/NP.Utilities"]
	path = SubModules/NP.Utilities
	url = https://github.com/npolyak/NP.Utilities.git
[submodule "SubModules/NP.Concepts.Behaviors"]
	path = SubModules/NP.Concepts.Behaviors
	url = https://github.com/npolyak/NP.Concepts.Behaviors.git
[submodule "SubModules/NP.ViewModelInterfaces"]
	path = SubModules/NP.ViewModelInterfaces
	url = https://github.com/npolyak/NP.ViewModelInterfaces.git
	branch = main
[submodule "SubModules/NP.NLogAdapter"]
	path = SubModules/NP.NLogAdapter
	url = https://github.com/npolyak/NP.NLogAdapter.git
